.page {
  --nmx-green: #006a39;
  --header-color: #565656;
  --font-color: #606060;
  --white: #ffffff;
  --off-white: #f0f0f0;
  --footer-color: #696b6f;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: var(--off-white);
  min-height: 100svh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: var(--font-color);
  background-color: var(--white);
  width: 100%;
  max-width: 1440px;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
}

a.secondary {
  border-color: var(--gray-alpha-200);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  color: var(--white);
  background-color: var(--nmx-green);
  border-radius: 8px;
  width: 90%;
  /* font-weight: 400 !important; */
  max-width: 400px;
  font-size: clamp(1.15rem, 3vw, 1.25rem);
}

.section_1 {
  background-image: url("/Section_1_BG_Mobile.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section_1,
.section_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.section_1_logo_img_container {
  position: relative;
  width: 75%;
  aspect-ratio: 1.872;
  height: auto;
  margin: 0 auto;
  max-width: 250px;
}

.section_1_content_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 3%;
}

.section_1_content_container h1 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 5% auto 2% auto;
  max-width: 500px;
}

.section_1_content_container p {
  width: 75%;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 3% auto;
}

.section_1_video_container {
  position: relative;
  width: 90%;
  aspect-ratio: 1.7952;
  margin: 20% auto 3% auto;
  max-width: 600px;
}

.section_1_video_img {
  margin-top: 10%;
}

.section_2_content_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 12% auto 5% auto;
}

.section_2_content_container h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

.section_2_content_container h4 {
  text-align: start;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 5% auto 3% auto;
}

.section_2_content_container p {
  text-align: start;
  font-size: 1.1rem;
  line-height: 1.25rem;
  margin: 0 auto 5% auto;
}

.section_2_infographics_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 750px;
}

.infographic_img_container {
  position: relative;
  width: 95%;
  aspect-ratio: 1.79;
  margin: 2rem auto 1rem auto;
}

.animal_radio_group {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  font-size: 1.15rem;
}

.animal_radio_label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2%;
}

.section_3 {
  /* position: relative;
  width: 100%;
  max-width: 900px;
  aspect-ratio: 1.003; */
  position: relative;
  background-image: url("/CSP_BG.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 850px;
  aspect-ratio: 1.003;
}

.section_3_content {
  display: none;
}

.section_4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--off-white);
  width: 100%;
  padding: 0 0 10% 0;
}

.section_4_content_container,
.section_4_testimonials_container_mobile,
.section_4_testimonials_container_desktop {
  width: 90%;
}

.section_4_content_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 8% auto;
}

.section_4_content_container h3 {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  font-weight: 900;
}

.section_4_content_container h4 {
  font-size: clamp(1.15rem, 2.5vw, 1.35rem);
  font-weight: 400;
  margin: 5% auto;
  max-width: 900px;
}

.testimonial_container,
.testimonial_slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonial_container h3,
.testimonial_slide h3 {
  font-size: clamp(1.15rem, 3vw, 1.5rem);
  color: var(--nmx-green);
  font-weight: 700;
}

.testimonial_container h4,
.testimonial_slide h4 {
  font-size: clamp(1.05rem, 2.5vw, 1.25rem);
  color: var(--nmx-green);
  font-style: italic;
  margin: 0.35rem 0 0.15rem 0;
}

.testimonial_container h5,
.testimonial_slide h5 {
  font-weight: 300;
  font-style: italic;
  font-size: clamp(1rem, 2.25vw, 1.25rem);
}

.testimonial_container p,
.testimonial_slide p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 2vw, 1.15rem);
  font-weight: 400;
  min-height: 75px;
  margin: .5rem 0;
}

.testimonial_img_container {
  position: relative;
  width: 50%;
  aspect-ratio: 1;
  max-width: 300px;
}

.testimonial_img {
  border-radius: 50%;
}

.section_4_testimonials_container_mobile {
  display: flex;
  flex-direction: column;
}

.section_4_testimonials_container_desktop,
.carousel_navigation_desktop {
  display: none;
}

.slider_wrapper {
  overflow: hidden;
  width: 100%;
}

.slider_track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.testimonial_slide {
  flex: 0 0 50%; /* Show 2 slides at a time */
  box-sizing: border-box;
  padding: 1rem;
}

.carousel_navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.carousel_navigation button {
  font-size: clamp(1rem, 2.25vw, 1.25rem);
  font-weight: 300;
  padding: 0 8px;
  border: none;
}

.carousel_navigation_desktop button:hover {
  cursor: pointer;
}

.active_dot {
  font-weight: 700 !important;
  text-decoration: underline;
}

.section_5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 85%;
  margin: 5% 0 8% 0;
}

.section_5 h3 {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
}

.section_5_icons_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5%;
}
.section_5_icon_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 350px;
  margin: 1rem 0;
}

.section_5_icon_container p {
  margin-top: 0.75rem;
  font-size: 0.95rem;
  line-height: 1.15rem;
  width: 55%;
  max-width: 250px;
}

.section_5_icons_img_container {
  position: relative;
  width: 60%;
  aspect-ratio: 1;
  max-width: 185px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--footer-color);
  width: 100%;
  max-width: 1440px;
}

.inner_footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75rem;
  width: 90%;
  margin: 8% 0;
}

.inner_footer_container p {
  font-size: 0.9rem;
  width: 100%;
}

.footer_info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: underline;
  gap: 22px;
  margin: 5% 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (min-width: 500px) {
  .section_1 {
    background-image: url("/Section_1_BG_Mobile_Adjusted.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section_1_video_container {
    margin: 10% auto 3% auto;
  }

  .section_1_video_img {
    margin: 15% auto;
  }
}

/* Medium devices such as tablets (768px and up) */
@media (min-width: 768px) {
  .section_1 {
    background-image: url("/Section_1_BG_Mobile_2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section_1_content_container {
    width: 75%;
  }

  .section_1_logo_img_container {
    width: 65%;
    max-width: 325px;
  }

  .section_1_content_container h1 {
    margin: 5% 0 2% 0;
  }

  .section_1_video_container {
    width: 75%;
  }

  .section_1_video_img {
    margin-top: 10%;
  }

  .infographic_img_container {
    width: 85%;
  }

  .section_2 {
    width: 90%;
    margin: 5% 0 2% 0;
  }

  .section_2_content_container {
    margin: 7% auto;
  }

  .section_2_content_container h2 {
    margin: 3% 0;
  }

  .section_2_content_container h4 {
    margin: 3% auto;
  }

  .section_2_content_container p {
    margin: 3% auto 7% auto;
  }

  .section_2_content_container {
    width: 75%;
  }

  .infographic_img_container {
    margin: 0;
  }

  .section_4 {
    padding: 0 0 5% 0;
  }

  .section_4_content_container {
    margin: 3% auto;
  }

  .testimonial_container,
  .testimonial_slide {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  .testimonial_img_container {
    width: 40%;
  }

  .testimonial_content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    width: 50%;
  }

  .inner_footer_container {
    flex-direction: row;
    margin: 2% auto;
  }

  .inner_footer_container p {
    width: 50%;
  }

  .footer_info_container {
    margin: 2% auto;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  .section_1 {
    background-image: url("/Section_1_BG_iPad.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section_1_content_container {
    align-self: flex-start;
    text-align: start;
    align-items: flex-start;
    width: 55%;
  }

  .section_1_logo_img_container {
    margin: 3% 0;
  }

  .section_1_content_container p {
    margin: 3% 0;
  }

  .section_1_logo_img_container {
    width: 65%;
  }

  .section_1_video_container {
    width: 75%;
    margin: 0;
  }

  .section_1_video_img {
    margin: 2% auto;
  }

  .section_2 {
    margin: 3% auto;
  }

  .section_2_content_container {
    margin: 3% auto;
    /* align-self: flex-start;
    align-items: flex-start; */
  }

  .testimonial_content_container {
    display: flex;
    flex-direction: column;
  }

  .section_4_content_container h4 {
    margin: 2% auto;
  }

  .section_5_icon_container p {
    font-size: 1rem;
    width: 75%;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .section_1 {
    flex-direction: row;
    background-image: url("/Section_1_BG_Desktop.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: 2rem;
    min-height: 75vh;
    border-bottom: 4px solid var(--nmx-green);
    padding: 2rem;
  }

  .section_1_logo_img_container {
    margin: 0;
  }

  .section_1_content_container {
    width: 50%;
  }

  .section_1_content_container h1 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    line-height: clamp(1.5rem, 3vw, 2rem);
    margin: 2rem 0;
    max-width: 500px;
  }

  .section_1_content_container p {
    margin: 0 0 1.5rem 0;
  }

  .section_1_video_container {
    margin: 0;
    width: 50%;
  }

  .section_1_video_img {
    margin: 0;
  }

  .section_2 {
    flex-direction: row;
    margin: 0;
  }

  .section_2_content_container {
    margin: 3% auto;
    align-self: flex-start;
    align-items: flex-start;
  }

  .section_3 {
    position: relative;
    background-image: url("/CSP_BG_Desktop.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 1215px;
    aspect-ratio: 3.591;
  }

  .section_3_content {
    font-family: "Barlow Condensed", sans-serif;
    position: absolute;
    top: 45px;
    right: 55px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    color: var(--nmx-green);
    width: 18%;
  }

  .section_3_content h2 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 600;
  }

  .section_3_content h3 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 0;
    font-weight: 400;
    align-self: flex-end;
    margin-right: 35px;
  }

  .section_3_content h4 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 27px;
    font-weight: 600;
  }

  .sign_up_button {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem;
    color: var(--white);
    background-color: var(--nmx-green);
    border-radius: 3px;
    width: 90%;
    font-weight: 700 !important;
    max-width: 150px;
    font-size: 1rem;
    margin: 1rem 0;
  }

  .section_4_testimonials_container_mobile {
    display: none;
  }

  .section_4_testimonials_container_desktop {
    display: flex;
    flex-direction: column;
  }

  .testimonial_container,
  .testimonial_slide {
    width: 50%;
  }

  .inner_testimonials_container_desktop {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .testimonial_content_container {
    display: flex;
    flex-direction: column;
  }

  .carousel_navigation_desktop {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;
  }

  .carousel_navigation_desktop button {
    border: none;
    font-size: clamp(1rem, 2.25vw, 1.25rem);
  }

  .section_5 h3 {
    margin: 0 0 2% 0;
  }
}

@media only screen and (min-width: 1440px) {
  .main {
    border-right: 1px solid #838383;
    border-left: 1px solid #838383;
  }
}
