.section_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: var(--white);
    background-color: var(--nmx-green);
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    font-size: clamp(1.15rem, 3vw, 1.25rem);
  }

.section_1_bg_img_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none; /* Prevents interaction */
}

.section_1_bg_img {
  object-fit: cover;
  z-index: 0;
}

.section_1_logo_img_container {
  position: relative;
  width: 75%;
  aspect-ratio: 1.872;
  height: auto;
  margin: 0 auto;
  max-width: 250px;
}

.section_1_content_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 3%;
  position: relative;
  z-index: 1;
}

.section_1_content_container h1 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 5% auto 2% auto;
  max-width: 500px;
}

.section_1_content_container p {
  width: 75%;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 3% auto;
}

.section_1_video_container {
  position: relative;
  width: 90%;
  aspect-ratio: 1.7952;
  margin: 20% auto 3% auto;
  max-width: 600px;
}

.section_1_video_img {
  margin-top: 10%;
}

@media (min-width: 500px) {
  .section_1_bg_img_container {
    display: none;
  }

  .section_1 {
    background-image: url("/Section_1_BG_Mobile_Adjusted.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section_1_video_container {
    margin: 10% auto 3% auto;
  }

  .section_1_video_img {
    margin: 15% auto;
  }
}

@media (min-width: 768px) {
  .section_1 {
    background-image: url("/Section_1_BG_Mobile_2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section_1_content_container {
    width: 75%;
  }

  .section_1_logo_img_container {
    width: 65%;
    max-width: 325px;
  }

  .section_1_content_container h1 {
    margin: 5% 0 2% 0;
  }

  .section_1_video_container {
    width: 75%;
  }

  .section_1_video_img {
    margin-top: 10%;
  }
}

@media (min-width: 1024px) {
  .section_1 {
    background-image: url("/Section_1_BG_iPad.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section_1_content_container {
    align-self: flex-start;
    text-align: start;
    align-items: flex-start;
    width: 55%;
  }

  .section_1_logo_img_container {
    margin: 3% 0;
  }

  .section_1_content_container p {
    margin: 3% 0;
  }

  .section_1_logo_img_container {
    width: 65%;
  }

  .section_1_video_container {
    width: 75%;
    margin: 0;
  }

  .section_1_video_img {
    margin: 2% auto;
  }
}

@media (min-width: 1280px) {
  .section_1 {
    flex-direction: row;
    background-image: url("/Section_1_BG_Desktop.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: 2rem;
    min-height: 75vh;
    border-bottom: 4px solid var(--nmx-green);
    padding: 2rem;
  }

  .section_1_logo_img_container {
    margin: 0;
  }

  .section_1_content_container {
    width: 50%;
  }

  .section_1_content_container h1 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    line-height: clamp(1.5rem, 3vw, 2rem);
    margin: 2rem 0;
    max-width: 500px;
  }

  .section_1_content_container p {
    margin: 0 0 1.5rem 0;
  }

  .section_1_video_container {
    margin: 0;
    width: 50%;
  }

  .section_1_video_img {
    margin: 0;
  }
}
