.section_1 {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */

  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  color: var(--white);
  background-color: var(--light-green);
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  font-size: clamp(1.15rem, 3vw, 1.25rem);
}

.section_1_bg_img_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none; /* Prevents interaction */
}

.section_1_bg_img {
  object-fit: cover;
  z-index: 0;
}

.section_1_content_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 3%;
  position: relative;
  z-index: 1;
  color: var(--nmx-green);
}

.section_1_content_container h1 {
  font-size: clamp(2.5rem, 3vw, 2.5rem);
  line-height: clamp(2.75rem, 3vw, 2.75rem);
  margin: 2rem 0 0 0;
  max-width: 500px;
  font-weight: 500;
}

.section_1_content_container h2 {
  font-size: clamp(2rem, 3vw, 2rem);
  line-height: clamp(2.25rem, 3vw, 2.25rem);
  margin: 2% auto;
  max-width: 600px;
   font-weight: 500;
}

.light_green {
  color: var(--light-green);
}

.section_1_text {
  display: none;
  width: 75%;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 3% auto;
  color: var(--nmx-green);
}

.section_1_video_container {
  display: none;
  position: relative;
  width: 90%;
  aspect-ratio: 1.7952;
  margin: 20% auto 3% auto;
  max-width: 600px;
}

.small_text {
  color: #606060 !important;
  font-size: clamp(.8rem, 2vw, .9rem) !important;
  margin-top: clamp(.85rem, 3vw, 1.25rem) !important;
  justify-content: center !important;

}

.section_1_video_img {
  margin-top: 10%;
}

@media (min-width: 500px) {
  .section_1_bg_img_container {
    display: none;
  }

  .section_1 {
    background-image: url("/Section_1_BG_Mobile_Adjusted_new.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section_1_content_container h2 {
    margin: 0 auto 5% auto;
  }

  .section_1_video_container {
    margin: 10% auto 3% auto;
  }

  .section_1_video_img {
    margin: 15% auto;
  }
}

@media (min-width: 768px) {
  .section_1 {
    background-image: url("/Section_1_BG_Mobile_2_new.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section_1_content_container {
    width: 75%;
  }

  .section_1_logo_img_container {
    width: 65%;
    max-width: 325px;
  }

  .section_1_content_container h1 {
    margin: 5% 0 0 0;
  }

  .section_1_content_container p {
    display: flex;
  }

  .section_1_video_container {
    width: 75%;
  }

  .section_1_video_img {
    margin-top: 10%;
  }
}

@media (min-width: 1024px) {
  .section_1 {
    background-image: url("/Section_1_BG_Mobile_2_new.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section_1_content_container {
    align-self: flex-start;
    width: 55%;
  }

  .section_1_logo_img_container {
    margin: 3% 0;
  }

  .section_1_content_container p {
    margin: 3% 0;
  }

  .section_1_logo_img_container {
    width: 65%;
  }

  .section_1_video_container {
    width: 75%;
    margin: 0;
  }

  .section_1_video_img {
    margin: 2% auto;
  }
}

@media (min-width: 1280px) {
  .section_1 {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-image: url("/Section_1_BG_Desktop_new.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 75vh;
    border-bottom: 4px solid var(--nmx-green);
    padding: 2rem;
  }

  .section_1_logo_img_container {
    margin: 0;
  }

  .section_1_content_container {
    padding: 0;
    width: 50%;
  }

  .section_1_content_container p {
    margin: 0 0 1.5rem 0;
  }

  .section_1_video_container {
    display: flex;
    margin: 0;
    width: 40%;
  }

  .section_1_video_img {
    margin: 0;
  }
}
