.section_5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--off-white);
  margin: 0;
  padding: 0;
}

.section_5_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 85%;
  padding: 2% 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  color: var(--white);
  background-color: var(--nmx-green);
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  font-size: clamp(1.15rem, 3vw, 1.25rem);
  text-transform: uppercase;
}

.section_5_inner h3 {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
}

.section_5_icons_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
}

.section_5_icon_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 350px;
  margin: 1rem 0;
}

.section_5_icon_container p {
  margin-top: 0.75rem;
  font-size: 0.95rem;
  line-height: 1.15rem;
  width: 55%;
  max-width: 250px;
}

.section_5_icons_img_container {
  position: relative;
  width: 60%;
  aspect-ratio: 1;
  max-width: 130px;
}

.discover_header {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 26px;
  font-weight: 400;
}

.section_5_inner h3 {
  margin: 0;
}

.discover_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background: white;
  width: 100%;
  padding: 2% 2% 5% 2%;
}

.discover_container h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(26px, 4vw, 40px);
  font-weight: 700;
  color: #006a39;
}

.discover_container p {
  color: #606060;
  max-width: 665px;
  padding: 0 2%;
}

.discover_container .button {
  margin: 1% auto;
}

@media (min-width: 1024px) {
  .section_5_icon_container p {
    font-size: 1rem;
    width: 75%;
  }
}

@media (min-width: 1280px) {
  .section_5_inner h3 {
    margin: 0 0 2% 0;
  }
}
